<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Essaie"
        tools:targetApi="27">



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOH-Ai_fh-BYkaRHNjJIUC_9CSPWQnlzQ">

        </meta-data>
        <activity

            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusiqueActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmsActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppelActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SiteActivity"
            android:exported="true"
            android:label="essaie"
            android:theme="@style/Theme.Essaie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
<uses-permission android:name="android.permission.CALL_PHONE"/>
</manifest>